<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Рыфмач - падабраць рыфму</title>
</head>
<body>
    <div class="header-block">
        <p class="greeting">
            Вітаю!
        </p>
        <p class="description">
            Рыфмач - Ваш дапаможнік у складанні вершаў. Увядзіце слова, каб падабраць да яго рыфму.
        </p>
    </div>

    <div class="center-block">
        <div class="search-block">
            <input type="search" class="word-search" id="search-input-rhyme" placeholder="Увядзіце слова..." value="{{ input_word }}" autocomplete="off" autofocus >
            <button type="button" class="button-search bright-button" onclick="post_rhymes_request();">
                <i id="search-icon" class="fa fa-search" width="30pt"></i>
                <div id="search-spinner" class="spinner-border button-spinner" style="display: none"></div>
            </button>
        </div>
    </div>
    
    <div class="center-block" id="search-status-info"> </div>

    <div class="modal" tabindex="-1" id="manual-accent-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title info-text">Укажыце націскную галосную</h5>
                    <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="modal-body">

                    <div class="center-block" id="manual-accent-block">
                        <div class="letter-buttons-block" id="letter-buttons-block">
                            
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="dull-button" data-bs-dismiss="modal">Адмена</button>
                    <button type="button" class="bright-button" onclick="post_rhymes_with_manual_accent()">Далей</button>
                </div>
            </div>
        </div>
    </div>

    <div class="center-block">
        <div class="dropdown">
            <button class="btn dropdown-light rhyme-word" type="button" id="dropdown-choose-word" data-bs-toggle="dropdown" aria-expanded="false" style="visibility: hidden">
                -
            </button>
            <ul class="dropdown-menu" id="dropdown-choose-word-menu" aria-labelledby="dropdown-choose-word">
                
            </ul>
        </div>
        <div class="info-text">
            <p id="search-status-text" style="margin: 20px; visibility: hidden">Нічога няма</p>
        </div>
    </div>

    <div id="error-msg"></div>

    <ul id="rhymes-block" class="rhymes-block">
    {% include "rhymes_content.html" %}
    </ul>

    <button class="button-scroll-up bright-button" onclick="scroll_up()">
        <i class="fa fa-chevron-up"></i>
    </button>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/rhymes.js')}}" type="text/javascript"></script>
</body>
</html>