<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') + '?ver=1.2'}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Рыфмач&nbsp;&ndash; падабраць рыфму</title>
</head>
<body>

    <div class="header-block">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="main-logo">
        <p class="greeting">
            Вітаю!
        </p>
        <p class="description">
            Рыфмач&nbsp;&ndash; Ваш дапаможнік у складанні вершаў на беларускай мове. Увядзіце слова, каб падабраць да яго рыфму.
        </p>
    </div>

    <div id="search-block" class="center-block">
        <div class="search-block">
            <input type="search" class="word-search" id="search-input-rhyme" placeholder="Увядзіце слова..." value="{{ input_word }}" autocomplete="off" autofocus >
            <button type="button" class="button-filters modest-button" data-bs-toggle="offcanvas" data-bs-target="#filters-offcanvas" aria-controls="filters-offcanvas">
                <i id="filters-icon" class="fa fa-cog" width="30pt"></i>
            </button>
            <button type="button" class="button-search bright-button" onclick="post_rhymes_request();">
                <i id="search-icon" class="fa fa-search" width="30pt"></i>
                <div id="search-spinner" class="spinner-border spinner-border-sm button-spinner" style="display: none"></div>
            </button>
        </div>
    </div>
    
    <div id="search-status-info" class="center-block"> </div>

    <div class="modal" tabindex="-1" id="manual-accent-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title info-text">Укажыце націскную галосную</h5>
                    <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="modal-body">

                    <div class="center-block" id="manual-accent-block">
                        <div class="letter-buttons-block" id="letter-buttons-block">
                            
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="dull-button rhyme-word" data-bs-dismiss="modal">Адмена</button>
                    <button type="button" class="bright-button rhyme-word" onclick="post_rhymes_with_manual_accent()">Далей</button>
                </div>
            </div>
        </div>
    </div>

    <div id="word-variants-block" class="center-block" style="visibility: hidden">
        <div class="dropdown">
            <button class="dropdown-light rhyme-word" type="button" id="dropdown-choose-word" data-bs-toggle="dropdown" aria-expanded="false">
                -
            </button>
            <ul class="dropdown-menu" id="dropdown-choose-word-menu" aria-labelledby="dropdown-choose-word">
                
            </ul>
        </div>
        <div class="info-text">
            <p id="search-status-text" style="margin: 20px;">Нічога няма</p>
        </div>
    </div>

    <div id="error-msg"></div>

    <div class="rhymes-block" id="rhymes-block" style="display: none">
        <div class="center-block" style="display: flex; gap: 20px;">
            <h1 class="rhyme-word" id="rhyme-count-text"></h1>
        </div>
        <ul id="rhymes-list">
        {% include "rhymes_content.html" %}
        </ul>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="filters-offcanvas" aria-labelledby="filters-offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="filters-offcanvasExampleLabel">Фільтры</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <h1 class="mid-header">Трапнасць пошуку</h1>

                <div id="search-mistake-radio">
                    <div class="form-check">
                        <input class="yellow-checkbox" type="radio" name="radioMistake" id="radio-mistake-adapt" value="-1" checked>
                        <label class="small-info-text" for="radio-mistake-adapt">
                            Адаптыўная
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="yellow-checkbox" type="radio" name="radioMistake" id="radio-mistake-0" value="0">
                        <label class="small-info-text" for="radio-mistake-0">
                            Ідэяльная
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="yellow-checkbox" type="radio" name="radioMistake" id="radio-mistake-1" value="1">
                        <label class="small-info-text" for="radio-mistake-1">
                            Добрая
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="yellow-checkbox" type="radio" name="radioMistake" id="radio-mistake-2" value="2">
                        <label class="small-info-text" for="radio-mistake-2">
                            Слабая
                        </label>
                    </div>
                </div>

                <h1 class="mid-header">Часціны мовы</h1>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-1" checked>
                    <label class="small-info-text" for="check-posp-1">
                        Назоўнік
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-2" checked>
                    <label class="small-info-text" for="check-posp-2">
                        Дзеяслоў
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-3" checked>
                    <label class="small-info-text" for="check-posp-3">
                        Прыметнік
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-4" checked>
                    <label class="small-info-text" for="check-posp-4">
                        Займеннік
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-5" checked>
                    <label class="small-info-text" for="check-posp-5">
                        Лічэбнік
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-6" checked>
                    <label class="small-info-text" for="check-posp-6">
                        Прыслоўе
                    </label>
                </div>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-posp-7" checked>
                    <label class="small-info-text" for="check-posp-7">
                        Службовыя
                    </label>
                </div>
                
                <h1 class="mid-header">Форма</h1>
                
                <div class="form-check">
                    <input class="yellow-checkbox" type="checkbox" value="" id="check-only-initial">
                    <label class="small-info-text" for="check-only-initial">
                        Толькі пачатковая
                    </label>
                </div>
            </div>

            <br>
            <button type="button" class="bright-button rhyme-word" onclick="update_filters()" data-bs-dismiss="offcanvas">Захаваць</button>
        </div>
    </div>

    <button class="button-scroll-up bright-button" onclick="scroll_up()">
        <i class="fa fa-chevron-up"></i>
    </button>

    <div class="faq-block">
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Як працуе пошук рыфмаў? </p>
            <p class="info-text"> Рыфмач выкарыстоўвае вялікую базу дадзеных, каб знайсці слова, якое Вы ўвялі, і вызначыць ў ім націск. Калі слоў з такім напісаннем некалькі, Вы можаце абраць любы варыянт з дапамогай блакітнай кнопкі. Пасля Рыфмач будуе транскрыпцыю і падбірае падобныя па гучанні словы. </p>
        </div>
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Як знайсці рыфму да слова, якога няма ў базе? </p>
            <p class="info-text"> У такім выпадку Вам будзе прапанавана ўказаць націскную галосную самастойна, гэтага дастаткова для пошуку. </p>
        </div>
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Не знайшлося ніводнай рыфмы, як з гэтым жыць? </p>
            <p class="info-text"> На жаль, так бывае. З дапамогай фільтра "Трапнасць пошуку" Вы можаце знайсці меней строгія рыфмы. Калі вы ведаеце рыфму, якой не ведае Рыфмач, або Вы сутыкнуліся з іншай праблемай, калі ласка, напішыце пра гэта на пошту <a style="color: rgb(223, 189, 0);" href="mailto:issues@ryfmach.online">issues@ryfmach.online</a>. </p>
        </div>
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Я бачу зашмат падобных рыфмаў, што рабіць? </p>
            <p class="info-text"> Вы можаце выкарыстоўваць фільтры (<i class="fa fa-cog" aria-hidden="true"></i>), каб прыбраць славаформы або словы пэўных часцін мовы. </p>
        </div>
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Мне вельмі падабаецца Рыфмач. Як я магу дапамагчы праэкту? </p>
            <p class="info-text"> Мы стараемся! 😀 Распавядзіце пра Рыфмача сваім сябрам і іншым аматарам вершаў, каб і яны маглі карыстацца сайтам! </p>
        </div>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=103914674', 'ym');

        ym(103914674, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/103914674" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/rhymes.js') + '?ver=1.2.4'}}" type="text/javascript"></script>
</body>
</html>