<link rel="stylesheet" href="{{url_for('static', filename='css/phonetics.css') + '?ver=1.0'}}">

{% extends "index.html" %}

{% block content %}
    <div class="header-block">
        <p class="greeting">
            Фанетычны разбор анлайн
        </p>
        <p class="description">
            Цяпер Рыфмач можа будаваць для Вас транскрыпцыі беларускіх слоў, аналізаваць гукі і фанетычныя з'явы.
        </p>
    </div>

    {% include "search_panel.html" %}

    <div id="phon-analysis-block" class="phon-analysis-block">
    </div>

    <button class="button-scroll-up bright-button" onclick="scroll_up()">
        <i class="fa fa-chevron-up"></i>
    </button>

    <div class="faq-block">
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Няправільны націск? </p>
            <p class="info-text"> Рыфмач шукае слова, якое Вы ўвялі, у сваёй базе, і калі ён знаходзіць гэтае слова, то ён вызначае націск аўтаматычна. Розныя словы могуць мець аднолькавае напісанне, таму Вам будзе прапанавана абраць варыянт слова, калі іх некалькі (націсніце на блакітнае поле пад радком пошуку).</p>
        </div>
        <div style="margin-bottom: 70px">
            <p class="mid-header"> Іншая праблема? </p>
            <p class="info-text"> Напішыце нам на пошту, калі штосьці не працуе або вы ведаеце, як зрабіць сайт лепей: <a style="color: var(--dark-primary-color);" href="mailto:issues@ryfmach.online">issues@ryfmach.online</a> </p>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/phonetics.js') + '?ver=1.0.1'}}" type="text/javascript"></script>
{% endblock %}